page-contact {
    .card-background-page {
        background-image: url(../../assets/imgs/fundo1.jpg);
        background-size: cover;
        background-position: center;
    }
    
    
    .button{
        width: 50%;
        margin: 10% 25%;
    }
    .titulo{
        text-align: center;
    }
    
}
