page-carrinho {
    .card-background-page {
        background-image: url(../../assets/imgs/fundo1.jpg);
        background-size: cover;
        background-position: center;
    }

    .titulo{
        text-align: center;
    }

}
